doctype html
html(lang='en')
  head
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    // Meta, title, CSS, favicons, etc.
    meta(charset='utf-8')
    |     
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    |     
    meta(name='viewport', content='width=device-width, initial-scale=1')
    |     
    title= title
    // Bootstrap
    link(href='bower_components/bootstrap/dist/css/bootstrap.min.css', rel='stylesheet')
    // Font Awesome
    link(href='bower_components/font-awesome/css/font-awesome.min.css', rel='stylesheet')
    // NProgress
    link(href='bower_components/nprogress/nprogress.css', rel='stylesheet')
    // bootstrap-progressbar
    link(href='bower_components/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css', rel='stylesheet')
    // bootstrap-daterangepicker
    link(href='bower_components/bootstrap-daterangepicker/daterangepicker.css', rel='stylesheet')
    // Custom Theme Style
    link(href='/css/custom.min.css', rel='stylesheet')
  |   
  body.nav-md
    .container.body
        include navbar
        // page content
        .right_col(role='main')
          div
            .row
              .col-md-12.col-sm-12.col-xs-12
                .dashboard_graph.x_panel
                  .row.x_title
                    .col-md-6
                      h3
                        | App Downloads
                    |                     
                    .col-md-6
                      #reportrange.pull-right(style='background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc')
                        i.glyphicon.glyphicon-calendar.fa.fa-calendar
                        |                         
                        span December 30, 2016 - January 28, 2017
                        |  
                        b.caret
                  |                   
                  .x_content
                    .demo-container(style='height:250px')
                      #chart_plot_03.demo-placeholder
            .clearfix
            |             
            .row
              |               
              .col-md-4.col-sm-6.col-xs-12
                .x_panel.fixed_height_320
                  .x_title
                    h2
                      | Daily users 
                      small Sessions
                    |                     
                    ul.nav.navbar-right.panel_toolbox
                      li
                        a.collapse-link
                          i.fa.fa-chevron-up
                      |                       
                      li.dropdown
                        a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-expanded='false')
                          i.fa.fa-wrench
                        |                         
                        ul.dropdown-menu(role='menu')
                          li
                            a(href='#') Settings 1
                          |                           
                          li
                            a(href='#') Settings 2
                      |                       
                      li
                        a.close-link
                          i.fa.fa-close
                    |                     
                    .clearfix
                  |                   
                  .x_content
                    table(style='width:100%')
                      tr
                        th
                          .col-lg-7.col-md-7.col-sm-7.col-xs-7
                            p Device
                          |                         
                          .col-lg-5.col-md-5.col-sm-5.col-xs-5
                            p Percentage
                      |                     
                      tr
                        td
                          table.tile_info
                            tr
                              td
                                p
                                  i.fa.fa-square.blue
                                  | IOS
                              |                             
                              td 30%
                            |                           
                            tr
                              td
                                p
                                  i.fa.fa-square.green
                                  | Android
                              |                             
                              td 10%
                            |                           
                            tr
                              td
                                p
                                  i.fa.fa-square.purple
                                  | Blackberry
                              |                             
                              td 20%
                            |                           
                            tr
                              td
                                p
                                  i.fa.fa-square.aero
                                  | Symbian
                              |                             
                              td 15%
                            |                           
                            tr
                              td
                                p
                                  i.fa.fa-square.red
                                  | Others
                              |                             
                              td 30%
              |               
              .col-md-4.col-sm-4.col-xs-12
                .x_panel
                  .x_title
                    h2 Budget and Spending
                    |                     
                    ul.nav.navbar-right.panel_toolbox
                      li
                        a.collapse-link
                          i.fa.fa-chevron-up
                      |                       
                      li.dropdown
                        a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-expanded='false')
                          i.fa.fa-wrench
                        |                         
                        ul.dropdown-menu(role='menu')
                          li
                            a(href='#') Settings 1
                          |                           
                          li
                            a(href='#') Settings 2
                      |                       
                      li
                        a.close-link
                          i.fa.fa-close
                    |                     
                    .clearfix
                  |                   
                  .x_content
                    #echart_sonar(style='height:370px;')
              |                           
              .col-md-4.col-sm-6.col-xs-12.widget_tally_box
                .x_panel
                  .x_title
                    h2 User Uptake
                    |                     
                    ul.nav.navbar-right.panel_toolbox
                      li
                        a.collapse-link
                          i.fa.fa-chevron-up
                      |                       
                      li.dropdown
                        a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-expanded='false')
                          i.fa.fa-wrench
                        |                         
                        ul.dropdown-menu(role='menu')
                          li
                            a(href='#') Settings 1
                          |                           
                          li
                            a(href='#') Settings 2
                      |                       
                      li
                        a.close-link
                          i.fa.fa-close
                    |                     
                    .clearfix
                  |                   
                  .x_content
                    #graph_bar(style='width:100%; height:200px;')
                    |        
        
    // jQuery
    script(src='bower_components/jquery/dist/jquery.min.js')
    // Bootstrap
    script(src='bower_components/bootstrap/dist/js/bootstrap.min.js')
    // FastClick
    script(src='bower_components/fastclick/lib/fastclick.js')
    // NProgress
    script(src='bower_components/nprogress/nprogress.js')
    // Chart.js
    script(src='bower_components/Chart.js/dist/Chart.min.js')
    // jQuery Sparklines
    script(src='bower_components/jquery-sparkline/dist/jquery.sparkline.min.js')
    // morris.js
    script(src='bower_components/raphael/raphael.min.js')
    |     
    script(src='bower_components/morris.js/morris.min.js')
    // gauge.js
    script(src='bower_components/gauge.js/dist/gauge.min.js')
    // bootstrap-progressbar
    script(src='bower_components/bootstrap-progressbar/bootstrap-progressbar.min.js')
    // Skycons
    script(src='bower_components/skycons/skycons.js')
    // Flot
    script(src='bower_components/Flot/jquery.flot.js')
    |     
    script(src='bower_components/Flot/jquery.flot.pie.js')
    |     
    script(src='bower_components/Flot/jquery.flot.time.js')
    |     
    script(src='bower_components/Flot/jquery.flot.stack.js')
    |     
    script(src='bower_components/Flot/jquery.flot.resize.js')
    // Flot plugins
    script(src='bower_components/flot.orderbars/js/jquery.flot.orderBars.js')
    |     
    script(src='bower_components/flot-spline/js/jquery.flot.spline.min.js')
    |     
    script(src='bower_components/flot.curvedlines/curvedLines.js')
    // DateJS
    script(src='bower_components/DateJS/build/date.js')
    // bootstrap-daterangepicker
    script(src='bower_components/moment/min/moment.min.js')
    script(src='bower_components/echarts/dist/echarts.min.js')
    script(src='bower_components/bootstrap-daterangepicker/daterangepicker.js')
    // Custom Theme Scripts
    script(src='/js/custom.js')
