doctype html
html(lang='en')
  head
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    // Meta, title, CSS, favicons, etc.
    meta(charset='utf-8')
    |     
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    |     
    meta(name='viewport', content='width=device-width, initial-scale=1')
    |     
    title= title
    // Bootstrap
    link(href='/bower_components/bootstrap/dist/css/bootstrap.min.css', rel='stylesheet')
    // Font Awesome
    link(href='/bower_components/font-awesome/css/font-awesome.min.css', rel='stylesheet')
    // NProgress
    link(href='/bower_components/nprogress/nprogress.css', rel='stylesheet')
    // iCheck
    link(href='/bower_components/iCheck/skins/flat/green.css', rel='stylesheet')
    // JQVMap
    link(href='/bower_components/jqvmap/dist/jqvmap.min.css', rel='stylesheet')
    // Custom Theme Style
    link(href='/css/custom.min.css', rel='stylesheet')
  |   
  body.nav-md
    .container.body
        include navbar
        // page content
        .right_col(role='main')
          div
            .page-title
              .title_left
                h3 World Usage
            |             
            .clearfix
            |             
            .row
              .col-md-12
                .x_panel
                  .x_title
                    h2
                      | Usage by country 
                    .clearfix
                  |                   
                  .x_content
                    .row
                      .col-md-6(style='padding: 30px')
                        p USA Map Usage
                        |                         
                        #usa_map(style='height:400px !important;')
                      |                       
                      .col-md-6(style='padding: 30px')
                        p World Map Usage
                        |                         
                        #world-map-gdp(style='height:400px;')
                    |                     
                    .clearfix
                    
    // jQuery
    script(src='/bower_components/jquery/dist/jquery.min.js')
    // Bootstrap
    script(src='/bower_components/bootstrap/dist/js/bootstrap.min.js')
    // FastClick
    script(src='/bower_components/fastclick/lib/fastclick.js')
    // NProgress
    script(src='/bower_components/nprogress/nprogress.js')
    // jQuery Sparklines
    script(src='/bower_components/jquery-sparkline/dist/jquery.sparkline.min.js')
    // JQVMap
    script(src='/bower_components/jqvmap/dist/jquery.vmap.js')
    |     
    script(src='/bower_components/jqvmap/dist/maps/jquery.vmap.world.js')
    |     
    script(src='/bower_components/jqvmap/dist/maps/jquery.vmap.usa.js')
    |     
    script(src='/bower_components/jqvmap/examples/js/jquery.vmap.sampledata.js')
    // easy-pie-chart
    script(src='/bower_components/jquery.easy-pie-chart/dist/jquery.easypiechart.min.js')
    // Custom Theme Scripts
    script(src='/js/custom.min.js')
